

<div class="container">
  <div class="row">

      <div class="col">
        <div class="container">
          <div class="row">
              <div class="col">
                <h1 class="text-primary">List of own joke</h1>
                <div *ngFor="let joke of OwnJokeList">
                  <p>With ID: {{joke.id}}</p>
                  <p>And value: {{joke.value}}</p> 
                </div>
              </div>
          </div>
        </div>
        <h1 class="text-primary"> Create a joke</h1>
        <div>
            <!-- form fields below -->
             <!-- <input #id type="number" placeholder="Id" /> --> 
             <input #joke type="text" placeholder="joke" />
             <!-- <input #category type="text" placeholder="category" /> -->
             <!-- A button that invokes create action -->
             <button (click)="createJoke(joke.value)" (click)="joke.value = ''" class="btn btn-primary">Create New joke</button>
            </div>



      </div>

      <div class="col">
          <h1 class="text-primary">Search with ID</h1>
          <input #box type="number" (keyup.enter)="onEnter(box.value)" (keyup.enter)="box.value = ''" placeholder="Id">
          <div *ngIf="jokeID">
              <p>With ID: {{jokeID.id}}</p>
              <p>And value: {{jokeID.value}}</p> 
            </div>

      <div>
        <h1 class="text-primary">Delete with ID</h1>
        <div>
          <input #Id type="number" placeholder="Id" (keyup.enter)="deleteJoke(Id.value)" (keyup.enter)="Id.value =''"/>
        </div>
      </div>

      <div>
        <h1 class="text-primary">Update a joke</h1>
        <div>
          <input #PutID type="number" placeholder="Id">
          <input #UpdateJoke type="text" placeholder="the joke">
          <button (click)="updateJoke(PutID.value, UpdateJoke.value)" class="btn btn-primary">Update</button>
        </div>
      </div>

      </div>
      

  </div>
</div>