<div *ngIf="joke" class="center">
  <h1 class="text-primary">Random joke:</h1>
    <table>
      <tr><td></td><td></td></tr>
      <tr>
        <td></td>
        <td>
          <img src="{{joke.icon_url}}" />
        </td>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{joke.id}}</td>
      </tr>
      <tr>
        <td>Joke:</td>
        <td>
          <strong>{{joke.value}}</strong>
        </td>
      </tr>
      <tr>
        <td>category:</td>
        <td>
          <strong>{{joke.category}}</strong>
        </td>
      </tr>
  
    </table>
    <div>
      <button (click)="getNewJoke()" class="btn btn-primary">New joke</button>
    </div>
</div>