<div *ngIf="OwnJoke" class="center">
  <h1 class="text-primary">Random own joke:</h1>
    <table>
      <tr><td></td><td></td></tr>
      <tr>
        <td></td>
        <td>
          <img src="{{OwnJoke.icon_url}}" />
        </td>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{OwnJoke.id}}</td>
      </tr>
      <tr>
        <td>Joke:</td>
        <td>
          <strong>{{OwnJoke.value}}</strong>
        </td>
      </tr>
      <tr>
        <td>category:</td>
        <td>
          <strong>{{OwnJoke.category}}</strong>
        </td>
      </tr>
  
    </table>
</div>