<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">ChuckNorisAPI</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
              <a [routerLink]="['/home']" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a [routerLink]="['/categories']" class="nav-link waves-light" mdbWavesEffect>Categories</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a [routerLink]="['/search']" class="nav-link waves-light" mdbWavesEffect>Search</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/OwnJoke']" class="nav-link waves-light" mdbWavesEffect>Own joke</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['/testAuth']" class="nav-link waves-light" mdbWavesEffect>Test auth0</a>
      </li>

          <!-- Dropdown -->
         

      </ul>
      <!-- Links -->

<!-- Search form -->
      
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
